@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #25222d;
  font-family: "Roboto";
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid transparent;
  outline: none;
  background: transparent;
  cursor: pointer;
}

input {
  border: 1px solid transparent;
  outline: none;
  background: transparent;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
